<footer>
    <div class="footer-wrapper">
        <a href="https://github.com/RuariDouglas/Hours_Calc"><i class="fab fa-github"></i></a>
        <p> &copy; Ruari Douglas 2020</p>
    </div>


</footer>
</body>

</html>