<footer>
    <div class="footer-wrapper">
        <a class="github" href="https://github.com/RuariDouglas/Hours_Calc"><i class="fab fa-github"></i></a>
        <p class="copyright"> &copy; Ruari Douglas 2020</p>
    </div>


</footer>
<script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
</body>

</html>