<%- include("partials/header") %>
    <div class="container">
        <h1 class="error-404">
            404 Error <br>
            <a href="/" class="register">Go back</a>
        </h1>
    </div>


    <%- include("partials/footer") %>