<%- include ("partials/header") %>
    <div class="container container-login">
        <h1 class="title">
            <span class="light">Hours</span> Calculator
        </h1>
        <h4>Login</h4>
        <form class="login-form" action="/login" method="POST">
            <div class="form-group">
                <input type="text" placeholder="username" name="username" class="top-inputs">
            </div>
            <div class="form-group">
                <input type="password" placeholder="password" name="password" class="top-inputs">
            </div>
            <div class="form-group submit">
                <input class="top-inputs button" value="Submit" type="submit">
            </div>
        </form>
        <p class="register">Dont have an account?</p>
        <a class="back" href="">Register Now</a>

    </div>
    </body>

    </html>