<%- include("partials/header") %>
    <div class="container container-login">
        <h1 class="title"><span class="light">Shift</span> Tracker</h1>
        <h4>Register</h4>
        <!-- <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" placeholder="Enter a username" name="username" class="top-inputs" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Create a password" name="password" class="top-inputs" />
            </div>
            <div class="form-group submit">
                <input class="top-inputs button" value="Submit" type="submit" />
            </div>
        </form> -->
        <p class="register">Already have an account?</p>
        <a class="back" href="/login">Login</a>
    </div>

    <%- include("partials/footer") %>