@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #333;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 70%;
  text-align: center;
  background-color: #FFFDE4;
  border-radius: 10px;
  font-weight: light;
  margin-top: 20px;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
  font-family: "Overpass Mono", monospace;
  font-weight: bold;
  color: #275599;
  margin: 20px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Overpass Mono", monospace;
  line-height: 1.4rem;
  padding: 0 0 15px;
}

form input {
  font-size: 0.9rem;
  font-family: "Overpass Mono", monospace;
  color: #333;
  background-color: #FFFDE4;
  font-weight: 600;
  width: 70%;
  padding: 8px 15px;
  outline: none;
  border: 3px solid #FFFDE4;
  margin-bottom: 10px;
  border-radius: 5px;
  letter-spacing: -0.9px;
  -webkit-transition: .3s;
  transition: .3s;
}

form input::-webkit-input-placeholder {
  color: #adadad;
}

form input:-ms-input-placeholder {
  color: #adadad;
}

form input::-ms-input-placeholder {
  color: #adadad;
}

form input::placeholder {
  color: #adadad;
}

form input:focus {
  border: 3px solid #275599;
}

form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

form input:focus:-ms-input-placeholder {
  opacity: 0;
}

form input:focus::-ms-input-placeholder {
  opacity: 0;
}

form input:focus::placeholder {
  opacity: 0;
}

form button {
  font-size: 1.2rem;
  font-family: "Overpass Mono", monospace;
  font-weight: 300;
  width: 70%;
  padding: 11px 5px 4px;
  background-color: #275599;
  border-radius: 5px;
  border: none;
  color: #FFFDE4;
  -webkit-transition: .2s;
  transition: .2s;
  letter-spacing: -0.9px;
}

form button:hover {
  background-color: #16417c;
}

ul.monthList li {
  display: none;
}

ul.monthList:hover li {
  display: block;
}

table {
  padding: 10px;
  text-align: left;
  font-family: arial, sans-serif;
  border-spacing: 0;
  width: 100%;
}

table th {
  font-size: 0.9rem;
  border-bottom: 1px solid #c9c9c9;
  padding: 0px 5px 5px;
}

table .theMonth {
  position: absolute;
  z-index: -1;
  top: -26px;
  right: 0;
  padding: 7px 15px 21px;
  border: none;
  color: #FFFDE4;
  background-color: #275599;
  font-family: "Overpass Mono", monospace;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.9px;
  border-radius: 5px;
}

table .theDay {
  width: 13%;
}

table tr {
  vertical-align: bottom;
  background-color: #eee;
}

table tr:nth-child(even) {
  background-color: #FFFDE4;
}

table td {
  font-size: 0.9rem;
  line-height: 1.6rem;
  padding: 0px 4px;
}
/*# sourceMappingURL=styles.css.map */