    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
    // ------------------ RESET -------------------- //
    html {
        box-sizing: border-box;
        font-size: 16px;
        margin: auto;
        height: 100%;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
    }
    
    // ------------------ VARIABLES -------------------- //
    $white: #fff;
    $orange: #f39971;
    $yellow: #fdf5a2;
    $lightSalmon: #F7AB99;
    $darkSalmon: #F37871;
    // ------------------ @MIXINS --------------------- //
    @mixin fontMed {
        font-size: .9rem;
    }
    
    @mixin fontSm {
        font-size: .8rem;
    }
    
    // ------------------ @keyframes --------------------- //
    @keyframes opacityAni {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes flashMessage {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        80% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    // ------------------ & NOW THE CODE --------------------- //
    body {
        background: #f39971;
        background: linear-gradient(332deg, $darkSalmon 0%, $orange 100%);
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Montserrat', sans-serif;
        .bar {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            .bar-wrapper {
                margin: 0 auto;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                p {
                    @include fontSm;
                    opacity: 0;
                    animation: opacityAni ease-in .3s forwards;
                    text-decoration: none;
                    text-align: center;
                    color: rgba(255, 255, 255, .5);
                    border-top: none;
                    height: 100%;
                    padding: 7px 5% 0 0;
                    display: block;
                    a {
                        font-weight: bold;
                        text-decoration: none;
                        color: $yellow;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
    @media (min-width: 1024px) {
        body .container {
            max-width: 1024px;
            padding: 0;
        }
        body .bar .bar-wrapper {
            max-width: 1024px;
            padding: 0;
            p {
                padding: 7px 0;
            }
        }
        #alert {
            max-width: 1024px;
        }
    }
    
    @media (min-width: 768px) {
        body {
            .container-login {
                max-width: 768px;
                padding: 0;
            }
            .container {
                h1.title {
                    margin: 10px 0 20px;
                }
                .hours-form {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    .form-group {
                        width: 24%;
                        input {
                            margin-top: 5px;
                        }
                        .button {
                            padding: 8px 20px;
                        }
                    }
                }
                #alert {
                    max-width: 768px;
                }
            }
            main table .table-header th {
                @include fontMed;
                line-height: 2rem;
            }
        }
    }
    
    #alert {
        opacity: 0;
        width: 90%;
        height: 30px;
        background-color: rgba(255, 255, 255, .2);
        color: #F37871;
        margin: 0 auto;
        border: 1px solid rgba(253, 245, 162, .4);
        text-align: center;
        animation: flashMessage 5s linear;
        p {
            padding: 6px 0;
            color: #fff;
            @include fontMed;
        }
    }
    
    .container {
        margin: 10px auto;
        text-align: center;
        width: 100%;
        padding: 0 5% 0;
        h1.title {
            opacity: 0;
            animation: opacityAni ease-in .2s forwards;
            font-family: 'Montserrat', sans-serif;
            color: $white;
            font-weight: 600;
            .light {
                font-weight: 200;
            }
            margin: 10px 0 20px;
        }
        h2.month-title {
            color: $yellow;
            font-size: 1.6rem;
            margin-bottom: 10px;
        }
        h4 {
            color: $yellow;
            font-size: 1.6rem;
            margin-bottom: 10px;
        }
        p {
            @include fontMed;
            margin-top: 0;
            color: $white;
            font-style: italic;
        }
        p.edit-text {
            color: $yellow;
            font-style: normal;
            margin-bottom: 10px;
            ;
        }
        a.back {
            @include fontMed;
            background: transparent;
            text-decoration: none;
            font-weight: bold;
            color: #fdf5a2;
            outline: none;
            border: 1px solid #fdf5a2;
            padding: 5px 0;
            display: block;
            width: 30%;
            margin: 10px auto;
            &:hover {
                background-color: $yellow;
                color: $darkSalmon;
            }
        }
    }
    
    .container-login {
        opacity: 0;
        animation: opacityAni ease-in .2s forwards;
    }
    
    .hours-form {
        opacity: 0;
        animation: opacityAni ease-in .2s forwards .2s;
    }
    
    .form-group {
        margin-bottom: .3rem !important;
        text-align: center;
        label {
            @include fontMed;
            font-weight: 600;
            margin: 0;
            color: white;
        }
        .top-inputs {
            @include fontMed;
            transition: .3s ease-in;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            position: relative;
            cursor: text;
            padding: 7px 0;
            color: $white;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            text-align: center;
            width: 100%;
            &::placeholder {
                color: $white;
            }
            &:hover {
                border-bottom: 1px solid $yellow;
            }
            &:focus {
                border-bottom: 1px solid $yellow;
                color: $white;
                &::placeholder {
                    opacity: 0;
                }
            }
        }
        .button {
            cursor: pointer;
            background-color: transparent;
            font-weight: 600;
            border: none;
            border-bottom: 1px solid $yellow;
            &:hover,
            &:focus,
            &:active {
                border: none;
                border-bottom: 1px solid $yellow;
                background-color: $yellow;
                color: $darkSalmon;
            }
        }
        p.register {
            margin-top: 10px;
            font-size: .7rem;
        }
    }
    
    main {
        height: 100%;
        width: 100%;
        display: flex;
        overflow-x: hidden;
        justify-content: start;
        opacity: 0;
        animation: opacityAni ease-in .2s forwards .4s;
        .shifts-header {
            display: flex;
            justify-content: space-between;
        }
        select {
            @include fontMed;
            background-color: transparent;
            -webkit-appearance: none;
            color: $yellow;
            font-weight: 600;
            border: none;
            padding: 0 6px;
            &:focus {
                background-color: $yellow;
                color: $darkSalmon;
            }
        }
        table {
            @include fontSm;
            background-color: rgba(255, 255, 255, .1);
            position: relative;
            width: 100%;
            border-collapse: collapse;
            tr {
                line-height: 1rem;
                &:nth-of-type(2n) {
                    background-color: rgba(255, 255, 255, .2);
                }
            }
            tr th,
            td {
                padding: 5px;
                text-align: center;
                color: $white;
            }
            td.edit,
            td.delete {
                position: absolute;
                padding: 5px;
                color: #fff;
                width: 0;
                display: inline-block;
                transition: 0.2s linear;
                opacity: 0;
                height: auto;
                text-align: center;
                button {
                    cursor: pointer;
                    background-color: transparent;
                    width: 100%;
                    outline: none;
                    border: none;
                    padding: 0;
                    font-weight: bold;
                }
            }
            td.edit {
                background-color: $yellow;
                left: 0;
                button {
                    color: $darkSalmon;
                    cursor: pointer;
                }
                i {
                    color: $darkSalmon;
                }
            }
            td.delete {
                background-color: $lightSalmon;
                right: 0;
                form {
                    display: inline;
                    button {
                        color: $yellow;
                    }
                    i {
                        color: $yellow;
                    }
                }
            }
            tr.table-entries-row:active td.edit,
            tr.table-entries-row:hover td.edit,
            tr.table-entries-row:active td.delete,
            tr.table-entries-row:hover td.delete {
                transition: 0.2s linear;
                width: 50%;
                opacity: 1;
                cursor: pointer;
            }
            .table-header th {
                color: $yellow;
            }
        }
        p.hours-worked {
            text-align: left;
            margin-top: 5px;
        }
    }